@import "tailwindcss";

@theme {
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f3f4f6; /* gray-100 */
}
